$shadow-opacity	: .2;

svg#side-viz {
	#axis--x {
		path { stroke: none; }
		.tick text {
			fill: white;
			&.unintended { opacity: $shadow-opacity; }
		}
	}
	#bar-wrapper {
		.group-bar {
			.bar { stroke: none; }
			.bar.overlay { fill: transparent; }
			.bar.fill { fill-opacity: .2; }
			&.unintended { opacity: $shadow-opacity; }
		}
	}
}
