@import "statics";
@import "mixins";

a { cursor: pointer; text-decoration: none; color: black; }
ul { list-style-type: none; margin: 0px; padding: 0px; }
img { max-width: 100%; height: auto; }
textarea { resize: none; }
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
*:focus, select { outline: none!important; }
.bold { font-weight: 700 !important; }
.uppercase { text-transform: uppercase !important; }
.capitalize { text-transform: capitalize!important; }
.float-left { float: left!important; display: inline-block; }
.float-right { float: right!important; display: inline-block; }
.align-left { text-align: left!important; }
.align-right { text-align: right!important; }
.align-center { text-align: center!important; }
.force-middle { margin: auto!important; float: none!important; display: block!important; }
.cursor-default { cursor: default; @include noselect(); }
.cursor-pointer { cursor: pointer; @include noselect(); }
.noselect { @include noselect(); }
.nopadding { @include nopadding(); }
.hidden { display: none!important; }
html, body, body > div#root {
	width: 100%; height: 100%; margin: 0px; padding: 0px; overflow: hidden; font-family: $def-font-stack;
	-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: black;
}
div#root {
    background: $default-back; position: relative;
	#wrapper {
		$head-size: 180px;

		max-width: 700px; margin: auto;
		#head-wrap {
			#head {
				width: $head-size; height: $head-size;
				border: 0px solid $headframe-clr; border-radius: 50%; overflow: hidden;
				background-image: url('../../public/head.jpg'); background-size: cover;
			}
		}
		#trashtalk {
			#floor {
				letter-spacing: 0px;
				a:hover { font-weight: 700; text-decoration: underline; }
			}
		}
		#misc {
			width: 100%; display: flex; justify-content: center; margin-top: 25px; flex-wrap: wrap;
			a { text-align: center; }
		}

		@media screen and (max-width: 680px) {
			margin-top: 20vh; font-size: 12px;
			#head-wrap { width: 100%; #head { margin: auto; } }
			#trashtalk {
				padding: 15px; text-align: center;
				#ceil { font-size: 28px; letter-spacing: -1px; }
			}
			#misc a { width: 100%; margin-bottom: 12px; }
		}

		@media screen and (min-width: 680px) {
			display: flex; flex-wrap: wrap;
			margin-top: 25vh; align-items: center; font-size: 15px;
			#head-wrap { margin-right: 20px; }
			#trashtalk {
				flex: 2;
				#ceil { font-size: 35px; letter-spacing: -1px; }
			}
			#misc a { margin: 0px 20px; }
		}
	}
}
