@import "statics";
@import "mixins";

@import "viz/side";
@import "viz/polygons";

a { cursor: pointer; text-decoration: none; color: black; }
ul { list-style-type: none; margin: 0px; padding: 0px; }
img { max-width: 100%; height: auto; }
textarea { resize: none; }
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
*:focus, select { outline: none!important; }
.bold { font-weight: 700 !important; }
.uppercase { text-transform: uppercase !important; }
.capitalize { text-transform: capitalize!important; }
.float-left { float: left!important; display: inline-block; }
.float-right { float: right!important; display: inline-block; }
.align-left { text-align: left!important; }
.align-right { text-align: right!important; }
.align-center { text-align: center!important; }
.force-middle { margin: auto!important; float: none!important; display: block!important; }
.cursor-default { cursor: default; @include noselect(); }
.cursor-pointer { cursor: pointer; @include noselect(); }
.noselect { @include noselect(); }
.nopadding { @include nopadding(); }
.hidden { display: none!important; }
html, body, body > div#root {
	width: 100%; height: 100%; margin: 0px; padding: 0px; overflow: hidden; font-family: $def-font-stack; font-size: 10px;
	-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: black;
}
div#root {
    background: $default-back; position: relative;
	#task1-wrapper, #task2-wrapper {
		width: 100%; height: 100%; position: relative;
		// position: absolute; top: 0; left: 0;
		i {
			position: absolute; left: 48vw; font-size: 4vw; z-index: 1000; color: white; cursor: pointer;
			&.fa-chevron-up { top: 0px; }
			&.fa-chevron-down { bottom: 0px; }
		}
	}
	#task1-wrapper {
		#map-wrapper {
			width: 100%; height: 100%;
			.leaflet-popup-close-button { display: none; }
		}
	}
	#task2-wrapper {
		// display: none;
		& > div { display: inline-block; height: 100%; float: left; }
		#side-bar {
			width: $side-width;
		}
		#mein-bar {
			width: calc(100% - #{$side-width}); position: relative;
			#detil-tooltips {
				position: absolute; background: rgba(black, .75); padding: 7.5px 10px; border-radius: 3px; color: white;
				&::after { top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-width: 5px; margin-top: -5px; }
				&.left::after { right: 100%; border-right-color: rgba(black, .75); }
				&.right::after { left: 100%; border-left-color: rgba(black, .75); }
			}
		}
		svg {
			text { fill: white; }
			.grid-wrapper { stroke: lightgray; stroke-dasharray: 1.5; stroke-width: .25; }
		}
	}
}
